  <!-- navbar starts here -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/shoes.png" alt="Logo" width="65" height="65"
                class="d-inline-block align-text-top me-2" > Urban Walks </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="fas fa-home me-2"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./products.html"><i class="fas fa-box me-2"></i>Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./cart.html"><i class="fas fa-shopping-cart me-2"></i>Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact.html"><i class="fas fa-envelope me-2"></i>Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="about.html"><i class="fas fa-info-circle me-2"></i>About</a>
                </li>
                <li class="nav-item nav-item-login d-lg-none">
                    <a class="nav-link" href="./login.html"><i class="fas fa-sign-in-alt me-2"></i>Login</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-login d-none d-lg-block"><a class="buttonlogin"
                href="../login.html" >Login</a></button>
    </div>
</nav>
<!-- navbar ends here  -->