.navbar {
	background-color: rgb(13, 6, 31);
	transition: all 0.3s ease;
	padding: 10px 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
	display: flex;
	align-items: center;
	font-family: "Shadows Into Light", cursive;
	font-weight: bolder;
}

.navbar-brand img {
	margin-right: 10px;
}

.navbar-brand,
.nav-link,
.btn-login {
	color: #fff !important;
	transition: all 0.3s ease;
	font-size: 1.1rem;
}

.nav-link {
	margin-left: 15px;
	margin-right: 15px;
}

.nav-link:hover,
.btn-login:hover {
	color: gold !important;
	transform: translateY(-2px);
}

.nav-link.active {
	border-bottom: 2px solid gold;
}

.nav-link:hover {
	border-bottom: 2px solid gold;
}

.btn-login {
	border: 2px solid gold;
	padding: 8px 20px;
	border-radius: 20px;
}

.btn-login:hover {
	/* background-color: rgb(255, 255, 255); */
	color: #000000 !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	border-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767.98px) {
	.btn-login {
		display: none;
	}

	.nav-item-login {
		display: block !important;
	}

	.nav-item-login .nav-link {
		display: block;
		text-align: center;
		border: 1px solid #fff;
		padding: 8px 20px;
		border-radius: 25px;
		margin-top: 10px;
	}

	.nav-item-login .nav-link:hover {
		background-color: #fff;
		color: #1e293b !important;
	}
}

@media (min-width: 768px) {
	.nav-item-login {
		display: none !important;
	}
}

.navbar-brand:hover {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	transform: scale(1.1);
}

.buttonlogin {
	text-decoration: none;
	color: white;
    font-weight: bold;
}

.buttonlogin:hover {
	color: gold;
}