<section class="cart">
    <div  *ngIf="cartItems.length>0" class="container">
        <h1 class="cart-title">Your Shopping Cart</h1>
        <div class="cart-items">
            <div *ngFor="let item of cartItems" class="cart-item row">
                <div class="col-md-3">
                    <img src="{{item.image}}" alt="Running Shoes" class="img-fluid">
                </div>
                <div class="col-md-6 item-details">
                    <h4>{{item.title}}</h4>
                    <h5>{{item.description}}</h5>
                    <p>${{item.price}}</p>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-end">
                    <input type="number" (change)="updatePrice($event, item)" value="{{item.quantity}}" min="1" class="form-control me-3">
                    <button (click)="removeFromCart(item)" class="btn btn-danger remove-item">Remove</button>
                </div>
            </div>
        </div>
        <div class="cart-summary">
            <h3>Cart Summary</h3>
            <p>Subtotal: <span class="subtotal">${{totalPrice}}</span></p>
            <button class="btn btn-dark checkout-btn" (click)="checkout()">Proceed to Checkout</button>
        </div>
    </div>
    <div *ngIf="cartItems.length==0" class="container">
        <h1 class="cart-title">Your cart is empty!</h1>
            <img src="../../assets/images/cart.jpg" alt="Running Shoes" height="200"  class=" rounded mx-auto d-block">
    </div>
</section>
