<div class="product-container" >
    <div class="product-card" *ngFor="let product of products">
        <div class="product-image">
            <img src="{{product.image}}">
        </div>
        <div class="product-details">
            <h2>{{product.title}}</h2>
            <!-- <p>{{product.description}}</p> -->
            <div class="price-add">
                <span class="price">${{product.price}}</span>
                <button (click)="addToCart(product)" class="add-to-cart"><span><i class="fa fa-shopping-cart"></i></span> Add to cart</button>
            </div>
        </div>
    </div>
</div>